/* Write your CSS code here */
.blog-item {
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  list-style-type: none;
  margin: 15px;
  padding: 15px;
}
.blog-item-cont {
  display: flex;
  flex-direction: row;
}
.blog-item-imageUrl {
  height: 160px;
  width: 220px;
  margin-right: 25px;
}
.blog-info-cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.title-and-author-text {
  color: #8e8e8e;
  font-size: 15px;
  font-family: roboto;
}
.title-text {
  color: #000000;
  font-size: 30px;
  font-family: roboto;
}
.author-info-cont {
  display: flex;
}
.avatar-img {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  margin-right: 5px;
}
