/* Write your CSS code here */
.blog-list-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 100%;
}
.blog-list {
  padding: 0px;
}
